
{% extends 'camera/base.html' %}
{% load static %}
{% block content %}
	<br>
	<center>
	<div id="my_camera">
	
	
	<script type="text/javascript" src="/static/webcamjs/webcam.min.js"></script>
	
	
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	</script>
	
	
	<form action="">
		<input type=button value="Take Snapshot" onClick="take_snapshot()">
	</form>

	<form id="myform" method="post" action="">
		<input id="mydata" type="hidden" name="mydata" value=""/>
	</form>
	</div>
	</center>

	<script language="JavaScript">
		function take_snapshot() {
			Webcam.snap( function(data_uri) {

				var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
				document.getElementById('mydata').value = raw_image_data;
				document.getElementById('myform').submit();
				
			} );
			//saveSnap();
		}

		function saveSnap(){
			var base64image = document.getElementById("imageprev").src;
			Webcam.upload( base64image, '', function(code, text) {
				console.log('Save successfully');
			});
		window.location.href = "/";
		}

	</script>
{% endblock %}